* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url('../images/background2.jpg');
    font-family: Content, sans-serif;
}

h1, h2, h3, h4, h5, button, input, textarea {
    font-family: Title, sans-serif;
    font-weight: bold;
}

img{
    width: 100%;
}

input {
    width: 100%;
}

table {
    width: 100%;
}

#GUI {
    height:100%;
    width:100%;
    position:fixed;
    pointer-events:none;
    z-index:3;
}

.panel {
    margin-top: 2%;
}

#FormContent {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

#LoginForm {
    margin: auto;
}

#SignupForm {
    margin: auto;
}

#LoginLeft {
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
    display: block;
}

#SignupRight {
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    border-left: 1px solid;
    margin: auto;
    display: block;
}
@media only screen and (max-width:991.5px) {
    #SignupRight {
        display: none;
        border: 0;
        margin-top: 10%
    }

    #LoginLeft {
        overflow-x: hidden;
        margin-top: 10%;
    }
}

@media only screen and (min-width:991.5px) {
    #RegisterButton {
        display: none;
    }
    #SignupRight {
        display: block;
    }

    #SignInButton {
        display: none;
    }
}

#ErrEmail{
    visibility: hidden;
}

#ErrUsername {
    visibility: hidden;
}

#ErrPassword {
    visibility: hidden;
}

#ErrConfirm {
    visibility: hidden;
}

.spacingRow {
    visibility: hidden;
}