/*************************************************************/
/* GLOBAL RULES                                              */
/*************************************************************/

* {
	box-sizing:border-box;
    padding:0;
	border:0;
	margin:0;
}


h1 {
	text-align:center;
	font-size:4em;
	margin:auto;
	padding:0;
	pointer-events: none;
}

/* GUI and top level element section */
#GUI {
	width:100%;
	position:fixed;
	pointer-events:none;
	z-index:3;
}


/* gui - top banner (when passed homepage */
div.miniNav {
	visibility:hidden;
	position:relative;
	border-bottom-width:4px;
	border-bottom-color:rgba(0,0,0,0);
	border-bottom-style:solid;
	top:0;
	left:0;
}


/* top of homepage section */
#Top {
	width:100%;
	background-color:red;
}

#Top>div.box {
	position:relative;
}

#Top>div.box>table {
	padding-top:80px;
	margin:auto;
}

.icon {
	height:250px;
	width:250px;
	text-align:center;
}

div.icon span {
	color:white;
	font-size:1.5em;
	position:relative;
	bottom:1.5em;
	opacity:0;
	transition: opacity 0.5s ease;
}
	
div.icon img {
    position:relative;
    top:0;
    transition: top 0.5s ease;
}

div.icon:hover img,img:hover {
	top:-50px;
}

div.icon:hover span, span:hover {
	opacity:1;
}
		