/*Footer styles*/
.home-footer {
    width:100%;
    height:100px;
    color: #f6f6e8;
    background-color:#404040;
    text-align:center;
    font-size: 0.8em;
}

.home-footer li {
    list-style: none;
}

.home-footer li a:hover {
    background-color: #f6f6e8;
    color: #404040;
}


.home-footer li a {
    text-decoration: none;
    color: #f6f6e8;
}

.footerconstraint {
    width: 1000px;
    margin: auto;
}

.footerconstraint p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.bottomleftcolumn {
    display: inline-table;
    width: 20%;
    margin-left: 10%;
}

.middleleftcolumn {
    display:inline-table;
    width: 20%;
}

.middlerightcolumn {
    display: inline-table;
    width: 20%;
}

.bottomrightcolumn {
    display: inline-table;
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .footerHide {
        display: none;
    }

    .home-footer {
        display: none;
    }
}