



html {
  overflow-y: scroll;
}
body {
  background-image: url('../images/background2.jpg');
}

/*input number field for quantity*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#GUI {
            height:100%;
            width:100%;
            position:fixed;
            pointer-events:none;
            z-index:3;
        }

.container {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/*adjusts screen size for mobile view at 640px*/

@media only screen and (min-width:640px){
  .container{
    width:50%;
  }
}



/* table css */

.smallTableHead {
  width: 70px;
}

.checkBoxTableHead {
  width: 60px;
}

thead tr th {
    text-align:center;
}

.text-center {
  font-family: Title, sans-serif;
  font-size: 50px;
}

.table th{
  font-family: Title, sans-serif;
  font-size: 20px;
}





/*buttons css*/

#btnAddContainer {
  display: inline;
  width:40%;
}

#btnAdd {
  background-color: #77dd77;
  font-family: Title, sans-serif;
  font-size: 20px;
}

#btnAdd:hover {
  background-color: #77cc77;
}

#btnRemove {
  float: right;
  background-color: #ff6961;
  visibility: hidden;
  font-family: Title, sans-serif;
  font-size: 20px;
}

#btnRemove:hover {
  background-color: #ff5561;
}

#btnClear {
  background-color: #ff6961;
  visibility: hidden;
  font-family: Title, sans-serif;
  font-size: 20px;
  float:right;
  margin-left: 100px;
}

#btnClear:hover {
  background-color: #ff5561;
}

#btnSave {
  background-color: #77dd77;
  font-family: Title, sans-serif;
  font-size: 20px;
  visibility: hidden;
}

#btnSave:hover {
  background-color: #77cc77;
}

#btnCartContainer {
  float:right;
  width: 40%;
}

#btnCart {
  float: right;
  margin-left: 100px;
  font-size: 20px;
  font-family: Title, sans-serif;
  visibility: hidden;

}

#removeWarning {
  visibility: hidden;
  opacity: 0.4;
}






/*cart list css*/

#list-container {
  margin:0 auto;
}

#cartTitle{
  visibility: hidden;
}

.list-group li {
  font-family: List, cursive;
  font-size: 20px;
}

.list-group-item {
  background-color: #f4fac0;
  border-style:solid;
  border-width: 1px;
  border-color: black;
}
.list-group li:hover {
  text-decoration: line-through;
}



