* {
    box-sizing: border-box;
    padding:0;
}

h1 {
    text-align:center;
    margin:auto;
    padding:0;
    pointer-events: none;
    user-select:none;
}

header {
    margin-top: 80px;
}

body {
    margin:0;
    background-image: url("../images/background2.jpg");
}

main {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

#sideList {
    height:400px;
    overflow-y:scroll;

    padding:10px 0px 10px 0px;
}

#googleMap {
    padding:0;
}

.row {
    padding-top:10px;
    margin: 0;
}

.well {
    margin-bottom:0;
}

.panel {
    padding: 15px;
}

/*MAKE NAV BAR RECTANGLE, OVERLAP BOOTSTRAP*/
.indexNavNoBorderRadius {
    border-radius: 0;
}

.indexNavBackground {
    background-color: #404040;
    border-color: #404040;
}

div#myNavbar ul.navbar-nav a:hover {
    background-color: #505050;
    color: #f6f6e8;
}

div#myNavbar ul.navbar-nav a {
    color: #e6e6d8;
}

div#myNavbar ul.navbar-nav ul.dropdown-menu a {
    color: #404040;
}

div#myNavbar ul.navbar-nav ul.dropdown-menu a:hover {
    color: #f6f6e8;
}

.indexNavLogo {
    height: 90%;
    display: block;
    float: left;
    margin-left: 80px;
    padding-top: 5px;
}

.indexNavLogoText {
    padding: 15px;
    display: block;
    float: right;
    padding-left: 10px;
    color: #e6e6d8;
    padding-right: 40px;
}

.navbar-brand {
    padding: 0;
}

.dropdown-menu a {
    color: #404040;
}

.textCentered {
    text-align: center;
}

.navbar-toggle {
    float: left;
}
/*END OF NAV BAR*/

/*FOOTER START*/
footer div.container-fluid {
    display: block;
    width: 100%;
    background-color: #404040;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer table {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

footer table a, footer table a:link, footer table a:hover, footer table a:visited, footer table a:active, footer table td {
    color: white;
    text-decoration: none;
}

footer table tr {
    width: 100%;
}

footer tr td{
    font-size: 0.8em;
}

footer tr td a:hover {
    background-color: #f6f6e8;
    color: #404040;
}
/*FOOTER FINISH*/

@media screen and (max-width: 768px) {

    /*NAV BAR*/
    div#myNavbar ul.navbar-nav ul.dropdown-menu a {
        color: #f6f6e8;
    }
    
    .indexNavLogo {
        margin-left: 10px;
    }
    /*END OF NAV BAR*/

    /*FOOTER*/
    footer {
        display: none;
    }
    /*END OF FOOTER*/

    #googleMap {
        margin-top: 50px;
    }

    main {
        width: 90%;
    }

}