/*YOU CAN USE THESE FONTS BY CALLING TAG {FONT-FAMILY: TITLE, CONTENT;}*/

@font-face {
    font-family: Title;
    src: url(OpenSans/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: Content;
    src: url(Roboto/Roboto-Regular.ttf);
}