* {
    box-sizing: border-box;
    padding:0;
}

body {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;  
    background-color:#ebeef4
}


div {
    padding-bottom:30px;
}


.parallax { 
    /* The image used */
    background-image: url("img.jpg");

    /* Set a specific height */
    height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}