* {
    box-sizing: border-box;
    padding:0;
}

body {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;  
    background-color:#ebeef4
}


div {
    padding-bottom:30px;
}
