/* Custom Code Here */
h5{
  width:100%;
}
.container .check input {
  display: none;
}
.container .check input:checked + label .box {
  -webkit-animation: animOn 0.6s 1 forwards;
          animation: animOn 0.6s 1 forwards;
  background: rgba(0, 0, 0, 0.5);
}
.container .check input:checked + label .box i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  opacity: 1;
  color:#fff;
}
.container .check label {
  /* min-width: 100px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* min-height: 60px; */
  cursor: pointer;
}
.container .check label .box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  width: 39px;
  height: 33px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
}
.container .check label .box:hover {
  background: rgba(0, 0, 0, 0.5);
}
.container .check label .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-check:before {
    content: "\f00c";
}

thead tr th {
    text-align:center;
}



/* end of custom code */

/* Div of the table*/

.container {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media only screen and (min-width:640px){
  .container{

    width:50%;
  }
}

.smallTableHead {
  width: 70px;
}

.checkBoxTableHead {
  width: 60px;
}

.nameTableHead {

}
#btnAdd {
  background-color: #77dd77;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
#btnRemove {
  float: right;
  background-color: #ff6961;
  visibility: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

#btnClear {
   float: right;
  background-color: #ff6961;
  visibility: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}


.strike {
  text-decoration:line-through;
}

#btnAddContainer {
  display: inline;
  width:40%;
}


#list-container {
  margin:0 auto;
}

.list-group li:hover {
  background-color: #facdcf;
  text-decoration-color: #ff6961;
}
#cartTitle{
  visibility: hidden;
}

.text-center {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

.table {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.list-group li {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}




/*Stacking tables
.tableWrapper {
  overflow: hidden;
}

#TableOne {
  float: left;
  margin-right: 10px;
}

#TableTwo {
  overflow: hidden;
  margin:10px;
  margin-left: 20px;
  width: 45%;
}

@media screen and (max-width: 400px) {
  #one {
    float: none;
    margin-right: 0;
    width: auto;
  }
}
