* {
    box-sizing: border-box;
}

.titlePara {
    margin: 10px 105px 30px;
    text-align: center;
}
html, body {
    margin:0;
    padding:0;
}
body {
    background-image:url('../images/background2.jpg');
}

#AppsHomeHeader>img {
    width:80%;
    height:auto;
}
h1, h2 {
    text-align:center;
    margin:20px;
}
#AppsHomeHeader {
    text-align:center;
    margin:auto;
    margin-top: 80px;
}

.row {
    width: 90%;
    margin: auto;
}

.appIcon {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*ADDED JUST PANEL CSS FOR STYLING THE ABOUT US PAGE*/
.panel-default {
    min-height: 150px;
    margin:30px 150px 30px;
}

.panel-default p {
    margin:0px 15px 30px;
}

h2 a {
    text-decoration: none;
    color: #404040;
}

h2 a:hover {
    color: #f6f6e8;
    background-color: #404040;
    text-decoration: none;
}

/*MAKE NAV BAR RECTANGLE, OVERLAP BOOTSTRAP*/
.indexNavNoBorderRadius {
    border-radius: 0;
}

.indexNavBackground {
    background-color: #404040;
    border-color: #404040;
}

div#myNavbar ul.navbar-nav a:hover {
    background-color: #505050;
    color: #f6f6e8;
}

div#myNavbar ul.navbar-nav a {
    color: #e6e6d8;
}

div#myNavbar ul.navbar-nav ul.dropdown-menu a {
    color: #404040;
}

div#myNavbar ul.navbar-nav ul.dropdown-menu a:hover {
    color: #f6f6e8;
}

.indexNavLogo {
    height: 90%;
    display: block;
    float: left;
    margin-left: 80px;
    padding-top: 5px;
}

.indexNavLogoText {
    padding: 15px;
    display: block;
    float: right;
    padding-left: 10px;
    color: #e6e6d8;
    padding-right: 40px;
}

.navbar-brand {
    padding: 0;
}

.dropdown-menu a {
    color: #404040;
}

.textCentered {
    text-align: center;
}

.navbar-toggle {
    float: left;
}
/*END OF NAV BAR*/

/*FOOTER START*/
footer div.container-fluid {
    display: block;
    width: 100%;
    background-color: #404040;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer table {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

footer table a, footer table a:link, footer table a:hover, footer table a:visited, footer table a:active, footer table td {
    color: white;
    text-decoration: none;
}

footer table tr {
    width: 100%;
}

footer tr td{
    font-size: 0.8em;
}

footer tr td a:hover {
    background-color: #f6f6e8;
    color: #404040;
}
/*FOOTER FINISH*/



@media screen and (max-width: 767px) {

    /*NAV BAR*/
    div#myNavbar ul.navbar-nav ul.dropdown-menu a {
        color: #f6f6e8;
    }

    .indexNavLogo {
        margin-left: 10px;
    }
    /*END OF NAV BAR*/

    /*FOOTER*/
    footer {
        display: none;
    }
    /*END OF FOOTER*/

    .appIcon {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
    }

    .col-md-6 {
        padding: 0;
    }

    .panel-default {
        margin:10px;
    }

}