* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url('../images/background2.jpg');
    font-family: Content, sans-serif;
}

h1, h2, h3, h4, h5, button, input, textarea {
    font-family: Title, sans-serif;
    font-weight: bold;
}

img.loginLogo {
    width: 100%;
}

input {
    width: 100%;
}

table {
    width: 100%;
}

.container {
    margin-top: 80px;
}

#FormContent {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

#LoginForm {
    margin: auto;
}

#SignupForm {
    margin: auto;
}

#LoginLeft {
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
    display: block;
}

#SignupRight {
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    border-left: 1px solid;
    margin: auto;
    display: block;
}

/*When the screen is smaller than 991px only shows login form*/
@media only screen and (max-width:991.5px) {
    #SignupRight {
        display: none;
        border: 0;
        margin-top: 10%
    }

    #LoginLeft {
        overflow-x: hidden;
        margin-top: 10%;
    }
}

/*When the screen is made larger than 991px hides the button that toggles login/signup and displays both*/
@media only screen and (min-width:991.5px) {
    #RegisterButton {
        display: none;
    }
    #SignupRight {
        display: block;
    }

    #SignInButton {
        display: none;
    }
}

/*By default hides user validation for the sign up page*/
#ErrEmail{
    visibility: hidden;
}

#ErrUsername {
    visibility: hidden;
}

#ErrPassword {
    visibility: hidden;
}

#ErrConfirm {
    visibility: hidden;
}

.spacingRow {
    visibility: hidden;
}

/*MAKE NAV BAR RECTANGLE, OVERLAP BOOTSTRAP*/
.indexNavNoBorderRadius {
    border-radius: 0;
}

.indexNavBackground {
    background-color: #404040;
    border-color: #404040;
}

div#myNavbar ul.navbar-nav a:hover {
    background-color: #505050;
    color: #f6f6e8;
}

div#myNavbar ul.navbar-nav a {
    color: #e6e6d8;
}

div#myNavbar ul.navbar-nav ul.dropdown-menu a {
    color: #404040;
}

div#myNavbar ul.navbar-nav ul.dropdown-menu a:hover {
    color: #f6f6e8;
}

.indexNavLogo {
    height: 90%;
    display: block;
    float: left;
    margin-left: 80px;
    padding-top: 5px;
}

.indexNavLogoText {
    padding: 15px;
    display: block;
    float: right;
    padding-left: 10px;
    color: #e6e6d8;
    padding-right: 40px;
}

.navbar-brand {
    padding: 0;
}

.dropdown-menu a {
    color: #404040;
}

.textCentered {
    text-align: center;
}

.navbar-toggle {
    float: left;
}
/*END OF NAV BAR*/

/*FOOTER START*/
footer div.container-fluid {
    display: block;
    width: 100%;
    background-color: #404040;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer table {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

footer table a, footer table a:link, footer table a:hover, footer table a:visited, footer table a:active, footer table td {
    color: white;
    text-decoration: none;
}

footer table tr {
    width: 100%;
}
/*FOOTER FINISH*/

@media screen and (max-width: 768px) {

    /*NAV BAR*/
    div#myNavbar ul.navbar-nav ul.dropdown-menu a {
        color: #f6f6e8;
    }
    /*END OF NAV BAR*/

    /*FOOTER*/
    footer {
        display: none;
    }
    /*END OF FOOTER*/

}