/*YOU CAN USE THESE FONTS BY CALLING TAG {FONT-FAMILY: TITLE, CONTENT;}*/

@font-face {
    font-family: Title;
    src: url(Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Content;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: List;
    src: url(Coming_Soon/ComingSoon.ttf);
}

body {
    font-family: Content;
}

h1, h2, h3, h4, h5 {
    font-family: Title;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
}

button {
    font-size: 3em;
}
