/* Hamburger menu section */
				
				#Hamburger {
					position:absolute;
					top:0;
					left:-80%;
					width:80%;
					height:200%;
					background-color:purple;
					pointer-events:auto;
					transition: left 0.1s linear;
					font-size:4em;
					color:white;
					text-align:center;
				}
				#Hamburger *{
					color:inherit;
					font-size:inherit;
				}
				#Hamburger * *{
					color:inherit;
					font-size:inherit;
				}
				#Hamburger * * *{
					color:inherit;
					font-size:inherit;
				}
					#Hamburger span.menuTop {
						display:block;
						padding-top:1em;
						padding-bottom:0.3em;
					}
					#Hamburger ul{
						width:100%;
						margin:0;
						padding:0;
					}
					/*inner lists*/
					#Hamburger ul li {
						list-style-type:none;
						text-align:left;
						padding: 0.5em 0;
						width:100%;
						background-color:rgba(0,0,0,0.3);
					}
					#Hamburger ul li div {
						margin-left:5%;
					}
					#Hamburger ul>li>ul.dropDownHamburger {
						opacity:0;
						height:0;
						visibility:hidden;
						transition: opacity 0.2s linear, height 0.2s linear, visibility 0.2s linear;
					}
					#Hamburger ul>li:hover ul.dropDownHamburger{
						height:440px;
						opacity:1;
						visibility:visible;
					}
					#Hamburger a {
						width:100%;
						display:block;
						padding: 0.1em 0;
						padding-left:15%;
						text-decoration:none;
					}