/*YOU CAN USE THESE FONTS BY CALLING TAG {FONT-FAMILY: TITLE, CONTENT;}*/

@font-face {
    font-family: Title;
    src: url(Open_Sans_Condensed/OpenSans-CondLight.ttf);
}

@font-face {
    font-family: Content;
    src: url(Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: List;
    src: url(Coming_Soon/ComingSoon.ttf);
}

body {
    font-family: Content;
}

h1, h2, h3, h4, h5 {
    font-family: Title;
}