* {
    box-sizing: border-box;
}

/**
 * used in recipe page make the content centered
 * @Edmund
 */
.wholeBody {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

/**
 * used in recipe page, and javascript in recipe page
 * @Edmund
 */
.displayNone {
    display: none;
}

/**
 * used in recipe page, and javascript in recipe page
 * @Edmund
 */
.displayBlock {
    display: block;
}

/**
 * overrides bootstrap css
 * @Edmund
 */
ul.nav-pills {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.nav-tabs {
    z-index: 1;
}

/**
 * make a 1px black border
 * @Edmund
 */
.border {
    border: 1px solid #000000;
}

/**
 * make a 1px black border on the right
 * @Edmund
 */
.borderRight {
    border-right: 1px solid #000000;
}

/**
 * used in recipe page image
 * @Edmund
 */
img {
    width: 50%;
}

/**
 * Loading circle
 */
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('loader.gif') 50% 50% no-repeat rgb(249,249,249);
}